    .sitteplasser {
    display: flex;
  }
  
  
  .elev {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    width: 2em;
    margin-top: 2em;
    border: solid white 2px;
    font-size: 2em;
  }
  
  .container {
    display: flex;
    height: 100vh;
    width: 100%;
  }
  
  .leftside {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgb(93, 161, 73);
  }
  
  .rightside {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgb(60, 60, 157);
  }
  
  .profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  
  }
  
  .profile-box {
    border: solid black 2px;
    background: coral;
    height: 50%;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: space-between;

  }